<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <!--必须-->
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>JSSDK </title>
 
 
</head>
<body>
<div>
	 
	 
	
</div>
 

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 
 
<script  th:inline="javascript">
/*<![CDATA[*/
	var  timestamp=/*[[${timestamp}]]*/;
	var  str=/*[[${str}]]*/;
/*]]>*/

alert(timestamp);
  
</script>
</body>
</html>